.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  
  .canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgb(217, 251, 215);
  }

  .game-over {
    position: absolute;
    font-size: 50px;
    margin-bottom: 150px;
    font-weight: bold;
    font-family: OCR A Std, monospace;
  }

  .new-game {
    position: absolute;
    font-size: 50px;
    margin-bottom: 100px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 1s linear;
    font-weight: bold;
    font-family: OCR A Std, monospace;
  }

  .start {
    position: absolute;
    bottom: 18rem;
    font-size: 15px; 
    background: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    font-weight: bold;
    background: rgb(251, 174, 115);
  }

  .start:hover {
    border: none;
    background: white;
  }

  .score {
    position: absolute;
    top: 0;
    color: white;
    right: 25px;
    font-size: 30px;
    font-weight: bold;
    font-family: OCR A Std, monospace;
  }

  .finished-game {
    position: absolute;
    top: 60px;
    font-size: 75px;
    color: rgb(255, 111, 0);
    text-decoration: underline;
  }

  .title {
    position: absolute;
    top: -40px;
    font-family: OCR A Std, monospace;
    text-decoration: underline; 
    color: rgb(172, 134, 134);
  }

  .high-score {
    justify-content: center;
    color:rgb(220, 49, 223);
    font-size: 30px;
    font-weight: bold;
    font-family: OCR A Std, monospace;
  }

  .Form {
    position: absolute;
    margin-top: 100px;
    font-size: 25px;
    color: rgb(145, 128, 115);
    /* text-decoration: underline; */
    font-family: OCR A Std, monospace;
  }

  .btn {
    background-color: #4caf4f;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    font-family: OCR A Std, monospace;
    border-radius: 10px;
  }

  .not-form {
    position: absolute;
    margin-top: 75px;
    font-size: 25px;
    color:rgb(251, 66, 229);
    text-align: center;
  }

  h4 {
    margin-top: 15px;
    margin-bottom: -3px;
  }